.app {
  margin: -0.2px 0;
}

.menu {
  background-color: rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5% 0;
}

.link {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-size: 120%;
  padding: 0.2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown1 {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-size: 120%;
  padding: 0.2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown2 {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-size: 120%;
  padding: 0.2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-size: 120%;
  padding: 0.2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1.5px solid rgb(192,192,192);
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: "black"}